<div class="main">
  <div class="main__section">
    <form class="form" [formGroup]="imageForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="image">Image</label>
        <input 
          type="file" 
          id="image" 
          name="image" 
          formControlName="image"
          accept=".png, .jpg, .jpeg, .webp"
          (change)="readURL($event)"
        >
        <div
          *ngIf="!image?.valid && (image?.dirty ||image?.touched)"
        >
          <div [hidden]="!image.errors.required">
            Image is required
          </div>
        </div>
      </div>
      <div class="form-control">
        <label for="width">Image width</label>
        <input 
          type="range" 
          id="width" 
          name="width" 
          formControlName="width"
          max="500"
          [attr.disabled]="!image.valid ? true : null"
        >
      </div>
      <div class="form-control">
        <label for="height">Image width</label>
        <input 
          type="range" 
          id="height" 
          name="height" 
          formControlName="height"
          max="500"
          [attr.disabled]="!image.valid ? true : null"
        >
      </div>
      <div class="form-control">
        <label for="containerWidth">Container width</label>
        <input 
          type="range" 
          id="containerWidth" 
          name="containerWidth" 
          formControlName="containerWidth"
          max="500"
          [attr.disabled]="!image.valid ? true : null"
        >
      </div>
      <div class="form-control">
        <label for="containerHeight">Container width</label>
        <input 
          type="range" 
          id="containerHeight" 
          name="containerHeight" 
          formControlName="containerHeight"
          max="500"
          [attr.disabled]="!image.valid ? true : null"
        >
      </div>
      <div class="form-control">
        <label for="imagePositionX">Image position X</label>
        <input 
          type="range" 
          id="imagePositionX" 
          name="imagePositionX" 
          formControlName="imagePositionX"
          min="-250"
          max="250"
          [attr.disabled]="!image.valid ? true : null"
        >
      </div>
      <div class="form-control">
        <label for="imagePositionY">Image position Y</label>
        <input 
          type="range" 
          id="imagePositionY" 
          name="imagePositionY" 
          formControlName="imagePositionY"
          min="-250"
          max="250"
          [attr.disabled]="!image.valid ? true : null"
        >
      </div>
      <div class="form-control">
        <label for="imagePositionY">Animation</label>
        <select 
          type="select" 
          id="animation" 
          name="animation" 
          formControlName="animation"
          [attr.disabled]="!image.valid ? true : null"
        >
          <option *ngFor="let animation of animations" [value]="animation">{{animation}}</option>
        </select>
      </div>
      <button type="submit" [disabled]="!image.valid">DownLoad</button>
    </form>
  </div>
  <div class="main__section">
    <div class="imagePreview" #imagePreview>
      <div 
        id="container" 
        #container 
        style="position: relative; background: #fff; overflow: hidden;"
      >
        <img 
          id="img" 
          #img 
          style="position: absolute;" 
          [src]="imageSrc || 'http://placehold.it/180'" 
          alt="your image"
        >
      </div>
    </div>
  </div>
</div>